.skill-wrapper{
    position: relative;
    padding: 2rem;
}
.skill-container{
    grid-template-columns: repeat(2, 350px);
    justify-content: space-between;
    padding: 1rem;
}

.skillbox-left{
    border: 2px solid black;
    height: 400px;
    width: 17rem;
    padding: 1rem;
}

.skillbox-center{
    border: 2px solid black;
    height: 400px;
    width: 17rem;
    padding: 1rem;
}

.skillbox-right{
    border: 2px solid black;
    height: 400px;
    width: 17rem;
    padding: 1rem;
}


.skillgroup{
    font-size: 0.8rem;
}

.skilltitle{
    color: black;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.skill-name{
    color: black;
}

.skill-level{
    padding-bottom: 1rem;
    font-weight: normal;
}

@media(max-width: 640px){
    .skillbox-left, .skillbox-center, .skillbox-right{
        width: 12rem;
    }
}